@{
    ViewBag.Title = "Sys Cibertec";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema Web Cibertec</h1>
        <p class="lead">Intranet de recapacitamiento de cibertec.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Estudiantes</h2>
            <p>
                Mantenimiento de registros para Estudiantes.
            </p>
            <p><a class="btn btn-success" href="">Estuadiantes</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Docentes</h2>
            <p>Mantenimiento de registro para Docentes</p>
            <p><a class="btn btn-danger" href="">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Mantenimiento</h2>
            <p>Mantenimiento de registrar Matriculas</p>
            <p><a class="btn btn-dark" href="">Learn more &raquo;</a></p>
        </section>
    </div>
</main>