
<h1>Listado de Datos Personales</h1>
<strong>Nombre: </strong>@ViewBag.nombre <br />
<strong>Apellido: </strong>@ViewBag.apellido <br />
<strong>Edad: </strong>@ViewBag.edad <br />
<strong>Estatura: </strong>@ViewBag.estatura <br />



